@if (cartItems().length; ) {
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="text-center">Order summary</mat-card-title>
      <mat-card-subtitle>Total Items: {{cartItems().length}}</mat-card-subtitle>
      <mat-card-subtitle>Total Quantity: {{cartCount()}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-content class="label-value-pair">
    <div class="summary-list">
      <dl class="label">
        <dt>Original price</dt>
        <dd class="value">{{ subTotal() | currency }}</dd>
      </dl>
      <!-- <dl>
        <dt>Savings</dt>
        <dd class="text-green">{{savings() | currency}}</dd>
      </dl> -->

      <dl>
        <dt class="label">Delivery Fee</dt>
        @if (deliveryFee()) {
        <dd class="value">{{deliveryFee() | currency:'USD':'symbol'}}</dd>
        } @else if(!(deliveryFee())) {
        <dd class="value" style='color:red'>Free</dd>
        }
      </dl>

      <dl>
        <dt class="label">Tax</dt>
        <dd class="value">{{tax() | currency}}</dd>
      </dl>
    </div>
    <mat-divider></mat-divider>
    <div class="summary-total">
      <dl>
        <dt>Total</dt>
        <dd>{{ totalPrice() | currency:'USD':'symbol' }}</dd>
      </dl>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions class="summary-actions">
    <button mat-stroked-button color="primary" routerLink="/sw-app">Continue Shopping</button>
    <button mat-flat-button color="primary">Checkout</button>
  </mat-card-actions> -->
</mat-card>
} @else {
  <p noItems> No items in cart</p>
}
<ng-template #noItems>
  No items in cart
</ng-template>